.team-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.team-list ul li {
    margin-right: 20px;
}

.team-list ul li img {
    width: 100px;
    height: auto;
}